<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document Form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container center-align">
    <div class="row card col-12 form-container" th:object="${proceeding}">
        <div class="col-md-12 row">
            <div class="col-md-9 left-align">
                <h4>Details of: <span th:text="${proceeding.getName()}"></span></h4>
            </div>
        </div>
        <div class="col-md-12 align-center">
            <div class="row col-12 d-flex form-container align-top-children">
                <div class="d-flex flex-column col-md-8 align-top">
                    <div class="d-flex flex-row col-md-10 underlined-row">
                        <div class="d-flex col-md-6">
                            <p class="paragraph-value paragraph-bigger">Case identifier: </p>
                        </div>
                        <div class="d-flex col-md-6">
                            <p class="paragraph-value" th:text="*{id}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-10 underlined-row">
                        <div class="d-flex col-md-8">
                            <p class="paragraph-label">Proceeding given name/id: </p>
                        </div>
                        <div class="d-flex col-md-4">
                            <p class="paragraph-value" th:text="*{name}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-10 underlined-row">
                        <div class="d-flex col-md-8">
                            <p class="paragraph-label">Claim value: </p>
                        </div>
                        <div class="d-flex col-md-4">
                            <p class="paragraph-value" th:text="*{claim}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-10 underlined-row">
                        <div class="d-flex col-md-8">
                            <p class="paragraph-label">Claim fee: </p>
                        </div>
                        <div class="d-flex col-md-4">
                            <p class="paragraph-value"
                               th:text="${proceeding.fees != null ? proceeding.fees : 'N/A'}"></p>
                        </div>
                    </div>
                    <div th:if="${proceeding.fees == null}" class="d-flex flex-row col-md-10 fee-form-border">
                        <form th:action="@{/legalproceedings/advance}" method="post" class="d-flex flex-row col-md-12">
                            <div class="d-flex input-field col-md-9">
                                <input hidden name="legalproceedingid" th:value="${proceeding.id}">
                                <input id="advance_costs" type="number" step="0.01" class="validate" name="advance">
                                <label for="advance_costs">Estimated advance costs:</label>
                            </div>
                            <button type="submit" class="d-flex btn vert-center flex-grow-1 btn-primary col-md-3">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-column col-md-4">
                    <div class="d-flex flex-row col-md-12 overlined-row">
                        <p class="paragraph-value paragraph-bigger">Creditor: </p>
                    </div>
                    <div class="d-flex flex-row col-md-12">
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label">Name: </p>
                        </div>
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label" th:text="*{creditor.name}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-12">
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label">Email: </p>
                        </div>
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label" th:text="*{creditor.email}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-12 overlined-row">
                        <p class="paragraph-value paragraph-bigger">Debtor: </p>
                    </div>
                    <div class="d-flex flex-row col-md-12">
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label">Name: </p>
                        </div>
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label" th:text="*{debtor.name}"></p>
                        </div>
                    </div>
                    <div class="d-flex flex-row col-md-12">
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label">Email: </p>
                        </div>
                        <div class="d-flex col-md-6">
                            <p class="paragraph-label" th:text="*{debtor.email}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row col-12 d-flex form-container align-top-children overlined-row">
                <div class="d-flex col-md-12 row">
                    <a class="btn-floating waves-effect waves-light red  right-align"
                       th:href="@{/legalproceedings/action/add}">
                        <i class="material-icons">add</i>
                    </a>
                    <p class="paragraph-value paragraph-bigger-bigger">Execution steps: </p>
                </div>
                <div class="d-flex col-md-12">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Completed</th>
                            <th>Deadline</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="step: *{proceedingSteps}">
                            <td th:text="${step.getName().getContentEN()}"></td>
                            <td th:text="${step.getDateTimeCompleted()==null ? 'N/A' : step.getDateTimeCompleted()}"></td>
                            <td th:text="${step.getDateTimeDeadline() == null ? '' : step.getDateTimeDeadline().toLocalDate()}"></td>
                            <td>
                                <a th:if="${step.getDateTimeCompleted()==null}" th:href="@{/legalproceedings/complete(id=${proceeding.id},stepId=${step.getId()})}">Complete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="d-flex col-md-12 row overlined-row separation-row">
                </div>
                <div class="d-flex col-md-12 row overlined-row">
                    <a class="btn-floating waves-effect waves-light red  right-align"
                       th:href="@{/legalproceedings/action/add}">
                        <i class="material-icons">add</i>
                    </a>
                    <p class="paragraph-value paragraph-bigger-bigger left-align col-md-9">Proceeding notes/comments: </p>
                </div>
                <div class="d-flex col-md-12">
                    <table>
                        <thead>
                        <tr>
                            <th>DateTime</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="action: *{proceedingActions}">
                            <td th:text="${action.getDateTimeCreated()}"></td>
                            <td th:text="${action.getNote()}"></td>
                            <td>
                                <a th:href="@{'/legalproceedings/action/remove/'+${action.getId()}}">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>